.dashboard {
  width: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.466);
  box-shadow: 2px 2px 2px 1px rgba(82, 81, 81, 0.064);
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.box {
  
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);  box-shadow: 2px 2px 2px 1px rgba(82, 81, 81, 0.064);
}

.box0 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.box6{
  grid-column-start: 1;
  grid-column-end: 4;
}



@media screen and (max-width: 1000px) {

  .box0 {
    grid-column-end: 4;
  }

   .box1 {
    grid-row-start: 2;
    grid-row-end: 3;
  }


  .box{
    grid-column-start: 1;
    grid-column-end: 4;
  }
 

}

canvas {
  width: 100%;
}


h3{
  border-bottom: 1px solid #829a9a;
  padding: 0 0 8px 0 ;
  margin-bottom: 10px;
}


.toDoNavBar p {
  color: #516464;
  font-size: 0.8em;
}


.todo_list ul {
  list-style-type: none;
}

.todo_list li {
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  border: 1px solid #E6F0F4;
}

.todo_list li>div:nth-child(1):hover .title,
.todo_list li>div:nth-child(1):hover:hover .instruction,
.through {
  text-decoration: line-through;
}

.todo_list li.throughBg {
  background: #E6F0F4;
}

.todo_list li>div:nth-child(1) {
  padding: 0 8px;
}

.todo_list .title {
  font-weight: bold;
  
  font-size: 1em;
  word-break: break-all;
}

.todo_list .instruction {
  
  font-size: 0.8em;
  word-break: break-all;
}

.delete {
  background: #E6F0F4;
  padding: 6px 2px;
  font-size: 0.9em;
  border-radius: 8px;
  text-align: center;
  color: #62787c;
}

.delete:hover {
  background: #ebebeb;

}

.empty {
  margin: 10px 0;
  color: #c4c7c7;
  font-size: 1em;
}

form {
 margin-top: 10px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 6px 0;
  background: #e1e1e1;
  color: #62787c;
  border: 0;
  outline: 0;
  border-radius: 8px;
  font-size: 1em;
}

form button {
  margin: 24px auto;
  background: #526264;
  border: 0;
  padding: 10px 20px;
  display: block;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1em;
  color: #fff;
}
form button:hover{
  opacity: 0.8;
}

@media (max-width: 500px) {
  .App {
    width: 97%;
  }

  .todo_list li {
    padding: 10px;
  }
}
.member div{
  display: flex;
  align-items: center;
  padding: 5px;
  word-break: break-all;
}
.member span{
  width: 8px;
  height: 8px;
  border-radius: 70%;
  background-color: rgb(222, 222, 222);
  margin-right: 8px ;
}
.member span.online{
  background-color: rgb(137, 225, 5);
}
.activity div{
  padding: 5px 0;
}