.navBar {
    width: 250px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top:0;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin: 20px auto;
}

.logo img {
    width: 100%;
}

.navBar li {
    border-radius: 24px 0 0 24px;
    overflow: hidden;
    width: 92%;
    margin: 8px 0 8px auto;
}

.navBar a {
    color: rgb(81, 100, 100);
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 24px;
    display: flex;
    align-items: center;

}

.navBar a:hover, .navBar .ckecked {
    background-color: rgb(230, 240, 245);
}